<div id="footer">
  <div class="footer-left">
    <a class="footer-left__item" href="/aboutus">
      About us
    </a>
    <div class="footer-left__item">
      Contact
    </div>
  </div>

  <div class="footer-right">
    <div class="footer-right__item">
      <i class="fab fa-twitter icon"></i>
      Twitter
    </div>
    <div class="footer-right__item">
      <i class="fab fa-facebook-f icon"></i>

      Facebook
    </div>
  </div>
</div>