<div id="header">
  <a class="header-left" href="/">
  Natura
  </a>
  <div class="header-right">
    <a class="header-right__item" href="/discover/1">Discover</a>
    <a class="header-right__item" href="/search">Advance Search</a>
    <a class="header-right__item" href="/map">Location</a>
  </div>
</div>