<div id="header">
  <a class="header-left" href="/">Natura</a>
  <div class="header-right">
    <a class="header-right__item" href="/discover">Discover</a>
    <a class="header-right__item" href="/search">Advance Search</a>
    <a class="header-right__item">Location</a>
  </div>
</div>