
<div id="body-main" >
    <div id="about-us">
        <h1 class="about-us__title">Soc Trang Sanctuary</h1>
        <p class="about-us__body">“We have to take care about nature as much as nature is taking care about us. Nature
            is very kind with us. And if you want to enjoy the gifts of nature and the promises of nature, we have to
            defer to nature and its needs, its rules, its norms.”</p>
        <p class="about-us__heading">— Shimon Peres</p>
    </div>
</div>
<script>
    const mainElement=document.querySelector('#main');
    mainElement.style.backgroundImage ="url('/assets/img/frog-gc48891e5a_1920.jpg')";
    console.log(mainElement);
</script>