<div id="body-main">
  <div class="body-main-container">
    <div class="body-main-title">
      KHU BẢO TỒN SÓC TRĂNG
    </div>
    <div class="body-main-search">
      <input
        type="text"
        class="body-main-search__text"
        placeholder="Search animal"
      />
      <button class="body-main-search__btn">Search</button>
    </div>
  </div>
</div>