<div id="body-main">
  <div class="body-main-container">
    <div class="body-main-title">
      KHU BẢO TỒN SÓC TRĂNG
    </div>
    <form class="body-main-search" method="get" action="/discover/1">
      <input
        type="text"
        class="body-main-search__text"
        placeholder="Search animal"
        name="q"
      />
      <button class="body-main-search__btn">Search</button>
    </form>
  </div>
</div>