<div id="body-main">
    <form name="search" action="">
        <div id="search">
            <div class="search-group">
                <label class="search-group__label" for="">
                    Ngành:
                </label>
                <select class="search-group__input" name="" id="">
                    <option disabled hidden selected value="--select--">--select--</option>
                    <option value="">test</option>
                </select>
            </div>
            <div class="search-group">
                <label class="search-group__label" for="">
                    Lớp:
                </label>
                <select class="search-group__input" name="" id="">
                    <option disabled hidden selected value="--select--">--select--</option>
                    <option value="">test</option>
                </select>
            </div>
            <div class="search-group">
                <label class="search-group__label" for="">
                    Bộ:
                </label>
                <select class="search-group__input" name="" id="">
                    <option disabled hidden selected value="--select--">--select--</option>
                    <option value="">test</option>
                </select>
            </div>
            <div class="search-group">
                <label class="search-group__label" for="">
                    Tình trạng:
                </label>
                <select class="search-group__input" name="" id="">
                    <option disabled hidden selected value="--select--">--select--</option>
                    <option value="">test</option>
                </select>
            </div>
            <div class="search-group">
                <label class="search-group__label" for="">
                    Họ:
                </label>
                <select class="search-group__input" name="" id="">
                    <option disabled hidden selected value="--select--">--select--</option>
                    <option value="">test</option>
                </select>
            </div>
        </div>
        <button class="search__btn" type="submit">Tìm kiếm</button>

    </form>
</div>

<script>
    const mainElement=document.querySelector('#main');
    mainElement.style.backgroundImage ="url('/assets/img/Microhylaheymonsii-LQNgon-003.jpg')";
    console.log(mainElement);
</script>